*,
*::before,
*::after{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* ===== Variables de entorno ===== */
:root{
    --color--text--day: #fff;
    --color--background--day: #fff;
    --color--dropshadow--day: #2222;

    --color-background--night: #333;
    --color--dropshadow--night: #aaa;

    --color--icon--day: #aaa;
}

body{
    font-size: 16px;
    font-family: sans-serif;

    min-width: 300px;
    max-width: 100vw;
    min-height: 100vh;
}

.app{
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: space-between;
}

/* ==== Background header ====== */
.background{
    width: 100%;
    height: 40%;

    position: absolute;
    top: 0;
    z-index: 1;

    overflow: hidden;
}

.overlay{
    width: 100%;
    height: 100%;

    position: absolute;
    background: linear-gradient(to right, #93b, #48f);

    opacity: 0.8;
}

.background__img{
    width: 100%;
    height: 100%;

    /* With object properties, it's necessary to have a width and height defined */
    object-fit: cover;
    object-position: top;
}

/* ===== Content ===== */

.main{
    width: 50%;

    min-width: 200px;
    max-width: 500px;
    min-height: 30%;
    max-height: 100%;

    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

/* ===== HEADER ===== */

.header{
    min-height: 20%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

h1{
    color: var(--color--text--day);
    letter-spacing: 5px;
}

button{
    display: flex;
    align-items: center;

    background-color: transparent;
    border: transparent;

    cursor: pointer;
}

.icon{
    width: 20px;
    height: 20px;
    /* background: transparent; */
}

.header-icon{
    fill: var(--color--background--day);
}


/* ==== Content ==== */
.content{
    min-height: 80%;
    min-width: 80%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    flex-shrink: 0;

    padding: 20px;
    font-size: 1.8em;

    background-color: var(--color--background--day);
    border-radius: 5px;

    filter: drop-shadow(0px 0px 10px var(--color--dropshadow--day))
}

.content__header input{
    border: transparent;
    outline: none;

    font-family: sans-serif;
    font-size: 0.5em;
    color: #555;


    flex-grow: 1;
}

.content__header input::placeholder{
    color: #aaa;
}

.content__header button{
    font-family: sans-serif;
    font-size: 0.5em;
    color: #444;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;

    flex-shrink: 0;

    transition: background-color 0.2s;
    /* filter: drop-shadow(0 0 10px var(--color--dropshadow--day)) */
}

.content__header button:hover{
    background-color: #ccc3;
}

/* ==== Task ===== */
.content__tasks{
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.task__list{
    width: 100%;
    list-style-type: none;

    border-radius: 5px;
    filter: drop-shadow(0px 1px 10px var(--color--dropshadow--day));

    overflow-y: auto;
}

.task__item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color--background--day);
    border-bottom: 1px solid #ccc8;

    padding: 10px;
}

.task__item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task__item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    border-bottom: none;
}

.item__info{
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-grow: 1;
}

.item__info input[type="text"]{
    height: 100%;

    border: transparent;
    outline: none;

    color: #555;
    font-size: 1em;

    flex-grow: 1;
}

.item__info input[type="checkbox"]{
    
}

.item__delete{
    flex-shrink: 0;
}

.icon-delete{
    cursor: pointer;
    fill: var(--color--icon--day);

    transition: fill 0.3s;
}

.icon-delete:hover{
    fill: #333;
}

/* ===== MAIN Footer ====== */
.task__actions{
    display: flex;
    justify-content: space-between;

    padding: 15px;
}

.task__summary{
    font-size: 0.9em;
    color: #555a;
}

.actions__filters{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: 0 10px;
}

.task__actions button{
    font-size: 0.9em;
    font-family: inherit;
    color: #555;
}

.task__actions button:hover{
    color: #48e;
}