/* ===== Variables de entorno ===== */
:root {
    --primary-gradient: linear-gradient(to right, #93b, #48f);
    --font-main: sans-serif, Verdana;

    --bg-app: #f2f2f2;
    --bg-card: #fff;
    --text-main: #494c6b;
    --text-placeholder: #aaa;
    --text-muted: #9495a5;
    --shadow: 0 10px 20px #0001;
    --bg-btn-push: #ccc3;
    --border-color: #ccc8;
}

/* Switch de tema (Dark) */
[data-them="dark"] {
    --bg-app: #171823;
    --bg-card: #25273d;
    --text-main: #cacde8;
    --text-muted: #777a92;
    --shadow: 0 10px 20px #0004;
    --bg-btn-push: #fff3;
    --border-color: #393a4b;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/*
    16px * 62.5% = 10px (Para un escalado más sencillo)
*/
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-main);

    /*min-width: 300px; El body no debe limitarse, en su lugar debe ser el contenido. */
    /*max-width: 100vw; No es bueno aplicarlo ya que hacemos que el body se estire horizontalmente si el contenido es demasiado*/
    min-height: 100vh;

    background-color: var(--bg-app);
    color: var(--text-main);

    transition: background-color 0.3 ease-out;
}

.app {
    min-width: 320px;
    min-height: 100vh;

    position: relative;
    /* Ancla para los elementos absolutos */

    display: flex;
    justify-content: center;
    align-items: space-between;

    padding: 4rem 1rem;
}

/* ==== Background header ====== */
/*
    Todo elemento "absolute" busca por defecto al primer ancestro con position

    A los elementos "absolute" les da igual el padding del padre
*/
.background {
    width: 100%;
    height: 35vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    overflow: hidden;

    /*
        inset => shorthand (top, right, bottom, left)
    */
    .overlay {
        width: 100%;
        height: 100%;

        position: absolute;
        inset: 0;

        background: var(--primary-gradient);
        opacity: 0.8;
        z-index: 1;
    }

    img {
        width: 100%;
        height: 100%;

        /* With object properties, it's necessary to have a width and height defined */
        object-fit: cover;
        object-position: top;
    }
}

/* ===== Content ===== */

.main {
    width: 90%;

    min-width: 300px;
    max-width: 500px;

    position: relative;
    z-index: 10;
}

/* ===== HEADER ===== */

.header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.5rem;


    h1 {
        color: #fff;
        letter-spacing: 5px;
        font-size: 3rem;
    }

    .icon {
        fill: #fff;
    }
}

button {
    background-color: transparent;
    border: transparent;

    cursor: pointer;

    .icon {
        margin: auto;
    }
}

.icon {
    width: 20px;
    height: 20px;
    /* background: transparent; */
}

/* ==== Content ==== */
.content {
    min-height: 80%;
    min-width: 80%;

    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.content__header,
.task__item {
    background-color: var(--bg-card);
    filter: drop-shadow(var(--shadow));
}

.content__header,
.content__tasks {
    border-radius: 5px;
}

.content__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    flex-shrink: 0;

    padding: 1.5rem;

    transition: background-color 0.4 ease-in-out;

    input {
        border: transparent;
        outline: none;

        font-family: inherit;

        color: var(--text-main);
        background-color: transparent;

        flex-grow: 1;

        font-size: 1.4rem;

        &::placeholder {
            /* Input placeholder */
            color: var(--text-placeholder);
        }
    }

    button {
        font-family: inherit;
        font-size: 1.4rem;

        color: var(--text-main);

        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5rem 1rem;

        flex-shrink: 0;

        transition: background-color 0.2s;

        &:hover {
            background-color: var(--bg-btn-push);
        }
    }
}

/* ==== Task ===== */
.content__tasks {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

/*
    Añadimos min-height 0 debido a que por defecto el valor es auto.

    Cuando se trabaja con "auto" el problema es que el elemento se hace tan grande como su contenido. Tiende a estirarse (cambia internamente el valor min), al hacer el min-height manualmente, evitamos ello.
*/
.task__list {
    min-height: 0;
    list-style-type: none;

    background-color: var(--bg-card);
    filter: drop-shadow(0px 1px 10px var(--color--dropshadow--day));

    border-radius: inherit;
    overflow-y: auto;
}

.task__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--border-color);

    padding: 1.5rem;

    &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.item__info {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-grow: 1;

    & label {
        overflow-wrap: anywhere;
        /*Wrap si la palabra es muy grande*/
        text-wrap: pretty;
        /* Para evitar los huérfanos (Palabras solas)*/

        color: var(--text-main);
        font-size: 1.4rem;
        flex-grow: 1;
    }

    & input[type="checkbox"] {}
}

.item__delete {
    flex-shrink: 0;

    .icon__delete {
        cursor: pointer;
        fill: var(--text-main);

    }
}

.icon-delete {
    transition: fill 0.3s;

    &:hover {
        fill: var(--text-placeholder);
    }
}

/* ===== MAIN Footer ====== */
.task__actions {
    background-color: var(--bg-card);

    display: flex;
    justify-content: space-between;

    color: var(--text-main);

    padding: 1.5rem;

    border-radius: inherit;

    button {
        font-size: 1.2rem;
        font-family: inherit;
        color: #555;

        &:hover {
            color: #48e;
        }
    }
}

.task__summary {
    font-size: 1.2rem;
    color: var(--text-muted);
}

.actions__filters {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: 0 1rem;
}