*,
*::before,
*::after{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.root{
    --color--text--day: #fff;
    --color--background--day: #fff;
    --color--dropshadow--day: #222;

    --color-background--night: #333;
    --color--dropshadow--day: #aaa;
}

body{
    font-size: 16px;
    font-family: sans-serif;

    max-width: 100vw;
    min-height: 100vh;
}

.app{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: space-between;
}

.background{
    width: 100%;
    height: 40%;

    position: absolute;
    z-index: 1;

    overflow: hidden;
}

.overlay{
    width: 100%;
    height: 100%;

    position: absolute;
    background: linear-gradient(to right, #93b, #48f);

    opacity: 0.8;
}

.background__img{
    width: 100%;
    height: 100%;

    /* With object properties, it's necessary to have a width and height defined */
    object-fit: cover;
    object-position: top;
}

main{
    position: relative;
    z-index: 10;
}